.pageNumbers {
    list-style: none;
    display: flex;
  }
  .pageNumbers li {
    padding: 0.7rem;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: bold;
  }
  
  .pageNumbers li.active {
    color: #fff;
    background-color: rgb(174, 202, 201);
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .pageNumbers li button:focus {
    outline: none;
  }