table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.table-center{
    margin: 10px;
}
.highlight{
    background-color: rgb(212, 212, 212);
}
table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table thead tr th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
  }

  table thead tr th:nth-of-type(1) {
    position: sticky;
    left: 59px;
    z-index: 2;
    background: grey;
  }
  table tbody tr td {
    padding: 3px;
    position: sticky;
    z-index: 1;
    
  }

  table tbody tr td:nth-of-type(1) {
    position: sticky;
    left: -1px;
    z-index: 2;
    background: grey;
  }
  table tbody tr td:nth-of-type(2) {
    position: sticky;
    left: 59px;
    z-index: 2;
    background: grey;
  }
  .tableCheckboxHeader{
    position: sticky;
    left: -1px;
    z-index: 2;
    background: grey;
  }

.th-filter{
  margin-left: 15px;
  cursor: pointer;
  
}
.th-filter img{
  width: 8px;
}

.filter-dialog{
  position: absolute;
  left: 0;
  top: 156px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  padding: 1rem;
  width: 30%;
  border-radius: 6px;
  background-color: #adb5b2;
  color: black;
}
.filter-option{
  display: flex;
}
.filter-option li{
  list-style-type: none;
}
#displayBlock{
  display: block;
}
#displayHide{
  display: hide;
}
